Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
email_validator
python-dotenv
wtforms-sqlalchemy
line-bot-sdk
gunicorn
psycopg2-binary
fpdf2
apscheduler
pandas
openpyxl
qrcode[pil]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
