{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h3>{{ customer_count }}</h3>
            <p>ลูกค้าทั้งหมด</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h3>{{ product_count }}</h3>
            <p>รายการสินค้า</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h3>{{ "%.2f"|format(sales_total) }}</h3>
            <p>ยอดขายรวม</p>
        </div>
    </div>
</div>
{% endblock %}